<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkbox Example</title>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css')}}"
    />
  </head>
  <body>
    <h1>Checkbox Example</h1>

    <label class="switch">
      <input
        type="checkbox"
        hx-post="/toggle"
        id="toggle-light"
        hx-swap="none"
        hx-include="#toggle-light"
      />
      <span class="slider round"></span>
    </label>
    <img src="{{ url_for('video_feed')}}" alt="Video Stream" />
  </body>
</html>
